.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

td:first-child {
    font-weight: normal;
}

table.job-listing td:last-child {
    width: 80%;
}

.span-label {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}