<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - COMPLETE - Use a loop to display job results in a table. -->
    <table class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <span>
                    <span class="span-label">ID:</span>
                    <span th:text="${job.id}"></span>
                <br />
                </span>
                <span>
                    <span class="span-label">Name:</span>
                    <span th:text="${job.name}"></span>
                </span>
                <br />
                <span>
                    <span class="span-label">Employer:</span>
                    <span th:text="${job.employer}"></span>
                </span>
                <br />
                <span>
                    <span class="span-label">Location:</span>
                    <span th:text="${job.location}"></span>
                </span>
                <br />
                <span>
                    <span class="span-label">Position Type:</span>
                    <span th:text="${job.positionType}"></span>
                </span>
                <br />
                <span>
                    <span class="span-label">Skill:</span>
                    <span th:text="${job.coreCompetency}"></span>
                </span>
                <br />
            </td>
        </tr>
    </table>
</div>

</body>
</html>