<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key}==${searchType}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" th:value="${searchTerm}"/>
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - COMPLETE - Loop over the search results to display all job fields. -->
    <!-- MMK --- this table code should really go in a FRAGMENT because the same code is used in list-job.html and search.html -->
    <table class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
            <span>
                <span class="span-label">ID:</span>
                <span th:text="${job.id}"></span>
            <br />
            </span>
                <span>
                <span class="span-label">Name:</span>
                <span th:text="${job.name}"></span>
            </span>
                <br />
                <span>
                <span class="span-label">Employer:</span>
                <a th:href="@{/list/jobs(column='employer',     value=${job.employer})}" th:text="${job.employer}"></a>
            </span>
                <br />
                <span>
                <span class="span-label">Location:</span>
                <a th:href="@{/list/jobs(column='location',     value=${job.location})}" th:text="${job.location}"></a>
            </span>
                <br />
                <span>
                <span class="span-label">Position Type:</span>
                <a th:href="@{/list/jobs(column='positionType',     value=${job.positionType})}" th:text="${job.positionType}"></a>
            </span>
                <br />
                <span>
                <span class="span-label">Skill:</span>
                <a th:href="@{/list/jobs(column='coreCompetency',     value=${job.coreCompetency})}" th:text="${job.coreCompetency}"></a>
            </span>
                <br />
            </td>
        </tr>
    </table>

</div>

</body>
</html>